#passwordResetScreen .instructionLabel {
    text-align: left;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--primary-color-on-primary-background);
    padding-left: 15px;
    margin-bottom: 2px;
    font-weight: 500;
}

#passwordResetScreen .instructionSubLabel {
    text-align: left;
    font-size: 13px;
    color: var(--secondary-color-on-primary-background);
    padding-left: 15px;
    margin-bottom: 15px;
}
